@tailwind base;
@tailwind components;
@tailwind utilities;

body{
   
  background: linear-gradient(135deg, #4434F8, #6A4FFF); /* Gradient from purple to lighter purple */
  font-family: "Shadows Into Light", serif;
  font-weight: 900;
  font-style: normal;
}

/* .background{
    background-color: #4A56F3;
    height: 450px;
} */